body {
    max-width: 90%;
    margin: auto;
    background-image: linear-gradient(#ffffff77,#ffffff77), url("farming2.jpeg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
}

header time {
    background: yellow
}

p {
    font: medium Garamond, serif;
    color: #171616;
    letter-spacing: 1px;
}

.villagers {
    border-left: 4px solid blue;
}

.farmer {
    border-left: 4px solid green;
}


a:link {
    color: darkred;
    font-weight: bold;
}

a:visited {
    color: red;
    font-weight: normal;
}

a:hover {
    color: pink;
    border-bottom: 1px solid;
}

blockquote {
    width: 50%;
    margin: auto;
}

q {
    width: 50%;
    font-size: 160%;
    font-style: italic;
    display: block;
    background: lightgray;
    padding: 30px;
    margin: 80px 0;
}
