body {
    max-width: 90%;
    margin: auto;
    background-image: linear-gradient(#ffffff77,#ffffff77), url("farming2.jpeg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

header time {
    background: yellow
}

img {
    display: inline-block;
    float: right;
    margin-left: 20px;
}

p {
    font: medium Garamond, serif;
    color: #171616;
    letter-spacing: 1px;
}

p:first-of-type {
    font-weight: bold;
}

.villagers {
    border-left: 4px solid blue;
}

.farmer {
    border-left: 4px solid green;
}
tr:nth-child(even) {
    background: grey;
}

tr:nth-child(odd) {
    background: white;
}

a:link {
    color: darkred;
    font-weight: bold;
}

a:visited {
    color: red;
    font-weight: normal;
}

a:hover {
    color: pink;
    border-bottom: 1px solid;
}

blockquote {
    width: 50%;
    margin: auto;
}

q {
    width: 50%;
    font-size: 160%;
    font-style: italic;
    display: block;
    background: lightgray;
    padding: 30px;
    margin: 80px 0;
}

.good {
    font-style: italic;
    text-transform: capitalize;
    color: green;
}

.bad {
    font-style: italic;
    text-transform: capitalize;
    color: red;
}